<section class="required-tags">
  <h3>Required Tags</h3>
  {{input value=searchFilter placeholder="Filter tags"}}

  <ol>
    {{#each sortedTags as |controller|}}
      <li>
        {{input type="checkbox" checked=controller.required}}
        {{controller.tag.name}} ({{controller.tag.episodes.length}})
      </li>
    {{/each}}
  </ol>
</section>
