<section class="filter-top">
  <h2>{{title}}</h2>
  {{input value=searchFilter placeholder="SEARCH"}}
  <button {{action 'removeFilters'}}>
    Clear
  </button>
</section>

<section class="scrollable-tags">
  <ol>
    {{#each firstHundredTags as |ctrl|}}
      {{yield ctrl}}
    {{/each}}
  </ol>
</section>
