<section class="filter-top">
  <h3>{{title}}</h3>
  {{input value=searchFilter placeholder="Filter tags"}}
  <button {{action 'removeFilters'}}>
    Clear Filters
  </button>
</section>

<section class="scrollable-tags">
  <ol>
    {{#each firstHundredTags as |ctrl|}}
      {{yield ctrl}}
    {{/each}}
  </ol>
</section>
