<h2 id="title">Star Trek Suggestor</h2>

<ol>
  {{#each model as |episode|}}
    <li>
      <h2>{{episode.title}}</h2>
      <ul>
        {{#each episode.tags as |tag|}}
          <li>
            {{tag.name}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ol>
